.container {
  width: 100vw;
  height: 100vh;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: white;
  min-height: 50vh;
  width: 70vw;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.input-wrapper {
  display: flex;
}

.input {
  margin-right: 20px;
  width: 95%;
  border-color: #1abc9c;
  border-width: 0.15em;
  /* padding: 8px 16px; */
}

.button {
  background-color: #1abc9c;
  color: white;
  border-width: 1px;
  padding: 6px 16px;
}

.gap {
  height: 2px;
  margin-top: 20px;
  width: 100%;
  background-color: #ecf0f1;
}

.blank-wrapper {
  background-color: #ecf0f1;
  margin-top: 20px;
  padding: 1px 2px;
}

.text-blank {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.fill-wrapper {
  background-color: #ecf0f1;
  padding: 10px;
}

.text-fill {
  font-weight: 600;
  font-size: 18px;
  color: #1abc9c;
  font-size: 24px;
  font-weight: 600;
}

.fil-button-wrapper {
  justify-content: center;
}

.fill-button {
  color: white;
  padding: 4px 12px;
  background-color: red;
}

.fill-button2 {
  color: white;
  padding: 4px 12px;
  background-color: #1abc9c;
}
